In [1]:
import pandas as pd

In [3]:
gardens = pd.read_csv('../data/NYC_Greenthumb_Community_Gardens.csv')
gardens.head(2)

,PropID,Boro,Community Board,Council District,Garden Name,Address,Size,Jurisdiction,NeighborhoodName,Cross Streets,Latitude,Longitude,Postcode,Census Tract,BIN,BBL,NTA
0,NaN,M,M03,2.0,11 BC Serenity Garden,626 East 11th Street,0.054,DPR,East Village,Avenues B & C,40.727124,-73.978677,10009,28.0,1000000,1003930020,Lower East Side ...
1,NaN,B,B08,36.0,1100 Bergen Street Community Garden,1101 & 1105 Bergen Street,0.207,PRI,Crown Heights,Nostrand & New York Avenues,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
gardens['NTA'] = gardens.NTA.str.strip() # data cleaning, specifically removing trailing whitespace
gardens.NTA.unique()[:5] # check first 5 elements

array(['Lower East Side', nan, 'East Harlem South', 'East Harlem North',
       'East Village'], dtype=object)

In [9]:
import geopandas as gpd
nta = gpd.read_file('../data/Neighborhood Tabulation Areas.geojson')
nta.head(2)

,ntacode,shape_area,county_fips,ntaname,shape_leng,boro_name,boro_code,geometry
0,BK88,54005018.7472,047,Borough Park,39247.2280737,Brooklyn,3,(POLYGON ((-73.97604935657381 40.6312759056467...
1,QN51,52488276.477,081,Murray Hill,33266.904811,Queens,4,(POLYGON ((-73.80379022888246 40.7756101117924...

In [19]:
nta.ntaname.unique()[:5] # check first 5 elements

array(['Borough Park', 'Murray Hill', 'East Elmhurst', 'Hollis',
       'Manhattanville'], dtype=object)

In [17]:
# not all NTAs in the gardens dataset is inside the NTA dataset
garden_set = set(gardens.NTA.unique())
nta_set = set(nta.ntaname.unique())
garden_set.issubset(nta_set)

False

In [18]:
# find out which NTAs are in gardens but not in NTA...turns out to be relatively trivial
garden_set.difference(nta_set)

{'', nan}

In [37]:
# check how many records have nta == '' or nan
invalid_num = len(gardens[gardens.NTA == '']) + len(gardens[gardens.NTA.isnull()])
print(f"{invalid_num} data records with invalid NTAs")
print(f"that's {round(invalid_num/len(gardens), 2)*100}% of the dataset")

107 data records with invalid NTAs
that's 20.0%

In [ ]:
# TODO: geoencode addresses to NTAs
# TODO: concat open data dataset to nyrp dataset