In [6]:
from bs4 import BeautifulSoup
import requests
page = requests.get("https://www.nyrp.org/green-spaces/list#")
soup = BeautifulSoup(page.content, 'html.parser')

In [20]:
data = []
for a in soup.find_all('a'):
    coords = a.get('data-coordinates')
    if coords: # only want those that aren't null
        entry = {'coords': coords,
                 'address': a.get('data-address')}
        data.append(entry)

In [23]:
import pandas as pd
data = pd.DataFrame(data)
data.head()

             address                coords
0  735 East 211th St  40.877499,-73.863489
1  1818 Bathgate Ave  40.845051,-73.897747
2    1017 Teller Ave   40.82815,-73.914356
3      1328 Clay Ave  40.834934,-73.908892
4  2044 Prospect Ave  40.845818,-73.887851

In [24]:
# hardcoding boroughs, forgive me :(
data['borough'] = ['Bronx'] * 13 + ['Brooklyn'] * 20 + ['Manhatten'] * 18 + ['Queens'] * 4 + ['Staten Island'] * 1
data.head()

             address                coords borough
0  735 East 211th St  40.877499,-73.863489   Bronx
1  1818 Bathgate Ave  40.845051,-73.897747   Bronx
2    1017 Teller Ave   40.82815,-73.914356   Bronx
3      1328 Clay Ave  40.834934,-73.908892   Bronx
4  2044 Prospect Ave  40.845818,-73.887851   Bronx

In [25]:
data.to_csv('NYRP_gardens.csv')