In [1]:
# Setting up modules
from geopandas import GeoDataFrame
import numpy as np
import pandas as pd
from shapely.geometry import Point
import matplotlib.pylab as plt
import geopy

In [2]:
#Will change this once I find the csv file for 2013-2017 data
crime = pd.read_csv('data/NYPD_Complaint_Data_2018to19.csv')

In [6]:
crime.shape

(220998, 35)

In [5]:
crime.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,857927015,10.0,MANHATTAN,01/29/2019,16:37:00,01/29/2019,16:45:00,COMPLETED,NaN,NaN,...,M,NaN,UNKNOWN,UNKNOWN,M,984140.0,211709.0,40.747777,-74.000398,"(40.747777093, -74.000398443)"
1,479254687,101.0,QUEENS,03/29/2019,17:00:00,03/29/2019,17:10:00,COMPLETED,NaN,NaN,...,M,NaN,25-44,BLACK,F,1054076.0,157437.0,40.598538,-73.748560,"(40.598537593, -73.748559596)"
2,320007604,41.0,BRONX,02/06/2019,02:00:00,NaN,NaN,COMPLETED,NaN,NaN,...,M,NaN,UNKNOWN,UNKNOWN,D,1011589.0,237996.0,40.819886,-73.901227,"(40.819885621, -73.901226998)"
3,746022144,68.0,BROOKLYN,01/08/2019,22:49:00,01/08/2019,22:52:00,COMPLETED,NaN,NaN,...,M,NaN,UNKNOWN,UNKNOWN,E,984439.0,166855.0,40.624663,-73.999321,"(40.624663129, -73.999320591)"
4,145366108,25.0,MANHATTAN,02/11/2019,12:07:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,NaN,UNKNOWN,UNKNOWN,E,1002776.0,231994.0,40.803435,-73.933084,"(40.80343468, -73.93308448)"

In [3]:
import geopandas as gpd
nta = gpd.read_file('data/Neighborhood Tabulation Areas.geojson')

In [4]:
nta.head()

,ntacode,shape_area,county_fips,ntaname,shape_leng,boro_name,boro_code,geometry
0,BK88,54005018.7472,047,Borough Park,39247.2280737,Brooklyn,3,(POLYGON ((-73.97604935657381 40.6312759056467...
1,QN51,52488276.477,081,Murray Hill,33266.904811,Queens,4,(POLYGON ((-73.80379022888246 40.7756101117924...
2,QN27,19726845.26,081,East Elmhurst,19816.7115378,Queens,4,(POLYGON ((-73.86109724401859 40.7636644770877...
3,QN07,22887772.7683,081,Hollis,20976.3358374,Queens,4,(POLYGON ((-73.75725671509139 40.7181386016625...
4,MN06,10647077.6122,061,Manhattanville,17040.6865482,Manhattan,1,(POLYGON ((-73.94607828608069 40.8212632160616...

In [10]:
#Create geometry for crime
crime['Longitude'] = pd.to_numeric(crime['Longitude'])
crime['Latitude'] = pd.to_numeric(crime['Latitude'])

In [11]:
#Create crime geodataframe
crime['geometry'] = crime.apply(lambda crime: Point((crime.Longitude, crime.Latitude)), axis=1)
gdf = GeoDataFrame(crime, geometry = 'geometry')

In [12]:
crime_nta = gpd.sjoin(gdf, nta, op="intersects")

/Users/cmvandev/anaconda2/lib/python2.7/site-packages/geopandas/tools/sjoin.py:44: UserWarning: CRS of frames being joined does not match!
  warn('CRS of frames being joined does not match!')

RTreeError: Coordinates must not have minimums more than maximums

In [13]:
#Will try this tmr morning: https://stackoverflow.com/questions/34420285/merging-geodataframes-in-geopandas-crs-do-not-match